<%- include('partials/header') %> 

<% if (typeof route !== 'undefined' && (route === '/create-post' || route.startsWith('/edit-post/'))) { %>
  
  <div class="post-form">
  <h1>
    <%= route.startsWith('/edit-post/') ? 'Edit Post' : 'Create New Post' %>
  </h1>
  <form
    action="<%= route.startsWith('/edit-post/') ? route : '/create-post' %>"
    method="POST"
  >
    <div class="form-group">
      <label for="title">Post Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= locals.post ? post.title : '' %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="content">Post Content:</label>
      <textarea id="content" name="content" rows="10" required><%= locals.post ? post.content : '' %></textarea>
    </div>
    <div>
      <label for="shareLocation">Share Location for Weather Data?</label>
      <input
        type="checkbox"
        id="shareLocation"
        name="shareLocation"
        value="true"
        onclick="getLocation()"
        <%= locals.post && post.location ? 'checked' : '' %>
      />
    </div>
    <input type="hidden" id="latitude" name="latitude" value="<%= locals.post && post.location ? post.location.latitude : '' %>" />
    <input type="hidden" id="longitude" name="longitude" value="<%= locals.post && post.location ? post.location.longitude : '' %>" />
    <button type="submit">
      <%= route.startsWith('/edit-post/') ? 'Update Post' : 'Create Post' %>
    </button>
  </form>
  
</div>


<% } else { %>

  <div class="post-container">
  <h1>Your Posts</h1>
  <% if (locals.posts === undefined || locals.posts.length === 0) { %>
  <p>Make some posts I'm lonely :(</p>
  <% } else { %><% for (let i = 0; i < locals.posts.length; i++) { %>
  <div class="post">
    <form action="/delete-post" method="POST" class="delete-form">
      <input type="hidden" name="postId" value="<%= posts[i].id %>" />
      <button type="submit" class="delete-button">X</button>
    </form>
    <form
      action="/edit-post/<%= posts[i].id %>"
      method="GET"
      class="edit-form"
    >
      <button type="submit" class="edit-button">✏️</button>
    </form>
    <h2>
      <%= posts[i].title %>
      <% if ('weatherCode' in posts[i] && posts[i].weatherCode !== 'not-available') { %>
        <img
          src="/weather-icons/production/line/all/<%=parseWeatherCode(posts[i].weatherCode) %>.svg"
          alt="Weather Icon"
          width="48"
          height="48"
          style="vertical-align: middle;"
        />
    <% } else { %>
        <small>Weather not available</small>
    <% } %>
  </h2>
    <p><%= posts[i].content %></p>
    <small
      >Posted on: <%= new Date(posts[i].timestamp).toLocaleString() %></small>
  </div>
  <% } %> <% } %>

  </div>
<% } %> 

<%- include('partials/footer') %>
